[package]
name = "clock_fb_rust"
version = "0.1.0"
edition = "2021"

[dependencies]
fontdue = "0.8"
memmap2 = "0.9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"

[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
