name: Deploy to balena

on:
  push:
    branches:
      - main

jobs:
  balena_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to balena
        uses: balena-io/deploy-to-balena-action@master
        id: build
        with:
          balena_token: ${{ secrets.BALENA_TOKEN }}
          fleet: ${{ secrets.BALENA_FLEET }}

      - name: Log release info
        run: |
          echo "Built release ID: ${{ steps.build.outputs.release_id }}"
          echo "Release version: ${{ steps.build.outputs.version }}"
